@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
/*    background-image:url(../imagens/Foto300x300.png); */
    background-color: rgb(179, 179, 76);
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
/*    position: absolute; */
/*    top: 90px; */
    text-align: center;
    color: rgb(247, 10, 10);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
}

img#phone   {display: block;}
img#tablet  {display: none;}
img#print   {display: none;}
img#pc      {display: none;}
img#tv      {display: none;}
